.default-type {
  font-family: 'Caveat';
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.page-title {
  @extend .default-type;
  font-size: 60px;
}

.nav-text {
  font-size: 16px;
}

.affirmation {
  @extend .default-type;
  font-size: 40px;
  color: white;
  text-shadow: 0px 0px 8px #013236;
  text-align: center;
}

.intro-p {
    font-size: 15px;
    width: 100%;
    margin-bottom: 18px !important;
    line-height: 24px;
}

.flair {
  @extend .default-type;
  font-size: 24px;
  color: #92140c;
  line-height: 18px;
}

.signature {
  @extend.flair;
  text-align: right;
  margin-right: 100px;
}