@import "./variables";
@import "./typography";
@import "./layout.scss";

* {
  box-sizing: border-box;
  transition: none !important;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-links {
  text-decoration: none;
  margin: 0 20px;
}

.contact-links {
  text-decoration: none;
}

.pool {
  border-radius: 5px;
  background: url(/images/pool_water.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 70%;
  height: 70%;
  cursor: grab;
  margin: 10px;
}

.resources {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.about {
  overflow: hidden;
}

.jessa {
  width: 25%;
  float: left;
  margin-right: 24px;
  margin-top: -30px;
}

.page-title {
  @extend .default-type;
  font-size: 4vw;
}

.nav {
  color: gray;
  text-transform: uppercase;
  font-size: 0.9vw;
}

@media only screen and (max-width: 1262px) {
  .page-title {
    font-size: 32px;
  }

  .nav {
    font-size: 12px;
  }

  .affirmation {
    font-size: 32px;
  }

  .container {
    max-width: 1000px !important;
    padding: 40px !important;
  }
  .about {
    .jessa {
      height: 55vh !important;
      width: 200px;
    }
    .intro-p {
      font-size: 14px;
    }
    .flair {
      font-size: 18px;
    }
    .signature {
      font-size: 28px;
    }
  }
}

@media only screen and (max-width: 985px) {
  .about {
    overflow: auto;
  }
}
