@import "./variables";
@import "./typography";
@import "./layout.scss";

* {
  box-sizing: border-box;
  transition: none !important;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1; // hide images
  content: url(/images/pool_water.jpg) url(/images/jessa_cutout.jpg); // load images
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-links {
  text-decoration: none;
  margin: 0 50px;
}

.contact-links {
  text-decoration: none;
}

.pool {
  border-radius: 5px;
  background: url(/images/pool_water.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 70%;
  height: 70%;
  cursor: grab;
  margin: 10px;
}

.resources {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.about {
  overflow: hidden;
}

.jessa {
  width: 25%;
  float: left;
  margin-right: 24px;
  margin-top: -30px;
}

.page-title {
  @extend .default-type;
  font-size: 4vw;
}

.nav {
  color: gray;
  text-transform: uppercase;
  font-size: 0.9vw;
}

@media only screen and (max-width: 1262px) {
  .page-title {
    font-size: 32px;
  }

  .nav-links {
    margin: 0 20px;
  }

  .nav {
    font-size: 12px;
  }

  .affirmation {
    font-size: 32px;
  }

  .container {
    max-width: 1000px !important;
    padding: 40px !important;
  }
  .about {
    .jessa {
      height: 240px;
      width: 120px;
    }
    .intro-p {
      font-size: 14px;
    }
    .flair {
      font-size: 18px;
    }
    .signature {
      font-size: 28px;
    }
  }
}

@media only screen and (max-width: 985px) {
  .about {
    overflow: auto !important;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  body,
  html {
    height: 1024px;
  }
}

/* iPad with landscape orientation. */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  body,
  html {
    height: 768px;
  }
}

/* iPhone 5 
You can also target devices with aspect ratio. */
@media screen and (device-aspect-ratio: 40/71) {
  body,
  html {
    height: 500px;
  }
}
