@import "./variables";
@import "./typography";
@import "./layout.scss";

* {
  box-sizing: border-box;
  transition: none !important;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav-links {
  text-decoration: none;
}

.pool {
  border-radius: 5px;
  background: url(../images/pool_water.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 70%;
  height: 70%;
  cursor: grab;
  margin: 10px;
}

.jessa {
  background: url(../images/jessa_cutout.jpg);
  background-repeat: no-repeat;
  background-size: 25% 100%;
  width: 100%;
  height: 70vh;
  opacity: 0.9;
  margin-bottom: 0px;
  align-self: flex-end;
  background-position: right;
}