.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;

  & > .content-body {
    flex: 1 1 auto;
    height: 0px;
    overflow: auto;
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.about-ps {
  margin-left: 24px;
}

@media screen and (max-width: 767px) {
  _::-webkit-full-page-media, _:future, :root .safari_only {
      margin-bottom: 113px; //resize 
  }
}