.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;

  & > .content-body {
    flex: 1 1 auto;
    height: 0px;
    overflow: auto;
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.about-ps {
  margin-left: 24px;
}

.bipoc-page {
  height: 1250px;
}

.map-container {
  height: 50%;
  width: 100%;
}

.map {
  height: 100%;
  width: 100%;
}

.v-data-footer {
  display: none;
}

.directory-section {
  width: 100%;
  height: 52%;
  background: #4da0a86e;
}

.bis-directory {
  width: 95%;
  padding: 20px;
  border-radius: 10px;
}

.small-table-col {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}